.App {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-line;
}

.tittle {
  flex-basis: 100%;
  text-align: center;
  align-self: flex-start;
}

.pve-panel {
  flex-basis: 30%;
  text-align: center;
  align-self: flex-start;
}

.pve-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.versus {
  margin-left: 5px;
  margin-right: 5px;
}

.monster-info,
.player-info {
  width: 33.33%;
  overflow-wrap: normal;
}

.menu-panel {
  flex-basis: 30%;
  align-self: flex-start;
}

.combat-log {
  flex-basis: 30%;
}

.combat-log-chat {
  height: 600px;
  overflow-y: scroll;
  align-self: flex-start;
}

.button {
  margin-right: 10px;
  font-size: large;
}

.game-message {
  margin-top: 40px;
  margin-bottom: 70px;
}

.statistics {
  margin-top: 100px;
}

.hero-chooser-menu {
  margin-bottom: 60px;
  margin-top: 10px;
}

.select-hero-class-button {
  margin-top: 28px;
}

.select-hero-class-dropdown {
  margin-top: 28px;
}
