.App {
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tittle {
  flex-basis: 100%;
  text-align: center;
}

.left-panel {
  flex-basis: 40%;
  text-align: center;
}

.right-panel {
  flex-basis: 60%;
}

.combat-log {
  text-align: center;
  margin-top: 20px;
  flex-basis: 100%;
}

.button {
  margin: 10px;
}
